<div class="container-lg">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3 class-min-width-100">
          <h5>Desenvolv. Web</h5>
          <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Gestão de Vendas</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Gestão de Estoque</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Controle de Pedidos</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">ver mais</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3 class-min-width-100">
          <h5>Integrações</h5>
          <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Integrações - ERP</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Integrações - CRM</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Integrações - Apps</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3 class-min-width-100">
          <h5>Desenvolv. API</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">API Rest</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">API RestFul</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Consumo de APIs</a></li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1 mb-3 class-min-width-100">
          <form>
            <h5>Deseja que eu entre em contato?</h5>
            <p>Para orçamentos basta enviar seu contato.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">email</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="contato...">
              <button class="btn btn-primary" type="button">enviar</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p class="container text-center">2023 Desenvolvido por LeonardoHSantos.</p>
      </div>
    </footer>
</div>