{% load static %}
<header>
    <div class="header-navbar">
        <div class="logo-navbar">
            <a href="{% url 'home' %}">
                <img src="{% static 'rocketsys-logo-3.png' %}" alt="logo rocketsystem">
            </a>            
        </div>

        <div class="container-navbar w-75">
            <ul>
                <li>
                    <div class="menu-links">
                        <a href="{% url 'home' %}">Home</a>
                    </div>
                </li>
                <li>
                    <div class="menu-links">
                        <p>Serviços</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <span class="menu-opcoes-dropdown translate-2">
                        <!-- <h2>Serviços</h2> -->
                        <div class="block-opcoes-menu">
                            
                            <div class="content-block-opcoes-menu">
                                <div class="container-fluid d-flex gap-3 align-items-center justify-content-start">
                                    <i class="fa-solid fa-code"></i>
                                    <h3>Sistemas</h3>
                                </div>
                                <a href="{% url 'info_services' 'desenvolvimento-sistemas-web' %}#sistemas-web">Desenvolvimento de Sistemas Web</a>
                          
                                <div class="container-fluid d-flex gap-3 mt-4 align-items-center justify-content-start">
                                    <i class="fa-solid fa-gears"></i>
                                    <h3>Manuntenção de Sistemas</h3>
                                </div>
                                <a href="{% url 'info_services' 'manutencao-sistemas-web' %}#manutencao-sistemas">Manutenção Sistema Web</a>
                                <a href="{% url 'info_services' 'manutencao-banco-de-dados' %}#manutencao-sistemas">Manutenção Banco de Dados</a>
                            </div>

                            <div class="content-block-opcoes-menu">
                                <div class="container-fluid d-flex gap-3 align-items-center justify-content-start">
                                    <i class="fa-solid fa-sitemap"></i>
                                    <h3>Integrações</h3>
                                </div>
                                <div class="container-fluid d-flex gap-3 align-items-center justify-content-start">
                                    <a href="{% url 'info_services' 'integracao-sistemas' %}#integracoes-sistemas">Integração ERP, CRM, APPs</a>
                                </div>

                                <div class="content-block-opcoes-menu">
                                    <div class="container-fluid d-flex gap-3 mt-4 align-items-center justify-content-start">
                                        <i class="fa-solid fa-code"></i>
                                        <h3>Desenvolvimento de APIs</h3>
                                    </div>
                                    <a href="{% url 'info_services' 'desenvolvimento-apis' %}#desevolvimento-apis">Desenvolvimento de APIs</a>
                                </div>
                            </div>
                        </div>
                    </span>
                </li>
                <li>
                    <div class="menu-links">
                        <p>Contato</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <span class="menu-opcoes-dropdown translate-2 w-50">
                        
                        <h2>Fale com a gente</h2>

                        <div class="block-opcoes-menu justify-content-start">
                            <div class="content-block-opcoes-menu">
                                <h3>Github</h3>
                                <div class="container-fluid d-flex gap-1 align-items-center justify-content-start">
                                    <i class="fa-brands fa-github"></i>
                                    <a href="https://github.com/LeonardoHSantos" target="_blank">LeonardoHSantos</a>
                                </div>
                                <h3 style="color: #0a66c2;">Linkedin</h3>
                                <div class="container-fluid d-flex gap-1 align-items-center justify-content-start">
                                    <i class="fa-brands fa-linkedin"></i>
                                    <a href="https://www.linkedin.com/in/leonardosantos2019/" target="_blank">Leonardo H Santos</a>
                                </div>
                            </div>
                            
                        </div>
                    </span>
                </li>

                <li>
                    <div class="menu-links">
                        <a href="{% url 'about' %}">Sobre</a>
                    </div>
                </li>

                {% if user.is_authenticated %}
                <li>
                    <div class="menu-links">
                        <a href="{% url 'person' %}">Person</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="row gap-2 block-user-navbar">
            {% if user.is_authenticated %}
                <p>olá, {{user.username}}</p>   
            {% else %}
                <a class="col w-50" href="{% url 'login' %}">login</a>
                <a class="col w-50" href="{% url 'register' %}">cadastro</a>
            {% endif %}
        </div>
    </div>
</header>









<div class="container mb-5" id="navbar-mobile">
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <div style="width: 80%; height: 49px;">
                <img src="{% static 'rocketsys-logo.png' %}" alt="logo" style="width: 80%; height: 100%; object-fit: contain;">
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header justify-content-end">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="row gap-2 block-user-navbar">
                        {% if user.is_authenticated %}
                            <p>olá, {{user.username}}</p>   
                        {% else %}
                            <a class="col w-50" href="{% url 'login' %}">login</a>
                            <a class="col w-50" href="{% url 'register' %}">cadastro</a>
                        {% endif %}
                    </div>
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'about' %}">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'person' %}">Serviços</a>
                        </li>
                        <li class="d-flex flex-column justify-content">
                            <a href="{% url 'info_services' 'django-painel-administrativo' %}#sistemas-web">Desenvolvimento Web</a>
                            <a href="{% url 'info_services' 'django-painel-administrativo' %}#integracoes-sistemas">Integrações de Sistemas</a>
                            <a href="{% url 'info_services' 'desenvolvimento-api-rest' %}#desevolvimento-apis">Desenvolvimento de APIs</a>
                            <a href="{% url 'info_services' 'django-todos-sistemas' %}#sistemas-web">ver mais</a>
                            
                            <p>WhatsApp: (41) 9 8841-2653</p>
                            <p>leonardo.hsantos@outlook.com</p>
                        </li>
                        {% if user.is_authenticated %}
                            <li>
                                <div class="menu-links">
                                    <a href="{% url 'person' %}">Person</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>