{% extends 'base.html' %}
{% load static %}
{% block title %}Sobre{% endblock %}

{% block content %}

<main class="container">
    <div class="d-flex flex-row mt-5">
      
        <div class="block-opcoes-menu">
            
            <div class="content-block-opcoes-menu">
                <h3>Contato</h3>
                <div class="block-icons">
                    <i class="fa-brands fa-linkedin-in"></i>
                    <a href="https://www.linkedin.com/company/demandareal" target="_blank">LinkedIn</a>
                </div>
                <div class="block-icons">
                    <i class="fa-brands fa-whatsapp"></i>
                    <a href="https://api.whatsapp.com/send/?phone=5541988412653&text&type=phone_number&app_absent=0" target="_blank">(41) 9 8841-2653</a>
                </div>
                <div class="block-icons">
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:leonardo.hsantos@outlook.com">leonardo.hsantos@outlook.com</a>
                </div>
            </div>
        </div>
    </div>
</main>
  
{% endblock %}