{% extends 'base.html' %}
{% load static %}
{% block title %}Detalhes - Serviços{% endblock %}

{% block content %}
<main id="container-info-services">
    <!-- ---- -->
    <div class="d-flex flex-column align-items-center justify-content-center text-center w-100 py-3"
        style="color: var(--color-base-2);">

        <div class="row w-100 m-2 p-1 py-3 modal-services-contact" id="modal-services-contact">
            <div class="w-100 d-flex justify-content-end btn-close-modal">
                <i class="fa-solid fa-xmark" data-target="BTN_CLOSE_servicePipedriveModal"></i>
            </div>
            <form action="{% url 'details_services' %}" method="POST">
                {% csrf_token %}

                <h3>solicitação de serviço</h3>

                <div class="form-group">
                    <label class="row text-start px-3" for="options-modal-contact-1">serviço</label>
                    <select class="form-select my-3 px-3" name="options-modal-contact-1" id="options-modal-contact-1">
                        <option value="contato_integracao_crm" selected>Integrações de Sistemas - CRM</option>
                        <option value="contato_integracao_erp">Integrações de Sistemas - ERP</option>
                        <option value="contato_integracao_pipedrive">Integrações de Sistemas - Pipedrive</option>
                        <option value="contato_integracao_asana">Integrações de sistemas - Asana</option>
                        <option value="contato_integracao_power_bi">Integrações com Power BI</option>
                        <option value="contato_integracao_database">Integrações com Banco de Dados</option>
                        <option value="contato_desenvolvimento_api">Desenvolvimento de apis</option>
                        <option value="contato_desenvolvimento_web">Desenvolvimento web</option>
                        <option value="contato_manutencao_sistemas_web">Manutenção - Sistema WEB</option>
                        <option value="contato_manutencao_database">Manutenção - Banco de Dados</option>
                        <option value="contato_outros">Outros assuntos</option>
                    </select>

                </div>
                <!-- ---- -->
                <div class="form-group">
                    <label class="row text-start px-3" for="name">name</label>
                    {{form_servive_pipedrive.name}}
                </div>
                <!-- ---- -->
                <div class="row w-100 py-3 block-modal-options">
                    <div class="w-26 px-3">
                        <input type="button" class="btn-options-contact active" id="checkbox-CPF" value="CPF" data-check-input="1">
                    </div>
                    <div class="w-26 px-3">
                        <input type="button" class="btn-options-contact" id="checkbox-CNPJ" value="CNPJ" data-check-input="0">
                    </div>
                </div>
                <!-- ---- -->
                <div class="form-group" id="block-inputs-CPF">
                    {{form_servive_pipedrive.cpf}}
                </div>
                <!-- ---- -->
                <div class="form-group" id="block-inputs-CNPJ" style="display: none;">
                    {{form_servive_pipedrive.cnpj}}
                </div>

                {% if check_field_doc %}
                    <small data-message-error-input="error-input" class="row text-start py-1 px-3 invalid-inputs">documento inválido.</small>
                    <small data-message-error-input="error-input" class="row text-start py-1 px-3"><article>ex: 000.000.000-00</article></small>
                    <small data-message-error-input="error-input" class="row text-start py-1 px-3"><article>ex: 00.000.000/0000-00</article></small>
                {% endif %}
                <!-- ---- -->
                <div class="row w-100 py-3 block-modal-options">
                    <div class="w-26 px-3">
                        <input type="button" class="btn-options-contact active" id="checkbox-whatsapp" value="WhatsApp" data-check-input="1">
                    </div>
                    <div class="w-26 px-3">
                        <input type="button" class="btn-options-contact" id="checkbox-email" value="E-mail" data-check-input="0">
                    </div>
                </div>
                <!-- ---- -->
                <div class="form-group" id="block-inputs-WHATSAPP">
                    {{form_servive_pipedrive.whatsapp}}
                </div>
                <!-- ---- -->
                <div class="form-group" id="block-inputs-EMAIL" style="display: none;">
                    {{form_servive_pipedrive.email}}
                </div>
                {% if check_field_contact %}
                    <small data-message-error-input="error-input" class="row text-start py-1 px-3 invalid-inputs">contato inválido.</small>
                    <small data-message-error-input="error-input" class="row text-start py-1 px-3"><article>ex: (00) 0 0000-0000 </article></small>
                    <small data-message-error-input="error-input" class="row text-start py-1 px-3"><article>ex: seu@email@gmail.com </article></small>
                {% endif %}
                
                
                <button class="w-100 btn btn-outline-primary my-2 btn-send-form-contatc-service">enviar</button>
            </form>
        </div>

    </div>
    <div class="px-3" data-content_services="content-base" data-animation-scroll="cards-services-botton">
        <div class="container-fluid d-flex justify-content-center align-items-center gap-1 flex-wrap container-main-about border-custom-right-bottom ">
            <div class="d-flex flex-wrap gap-2 mt-4 justify-content-center align-items-center p-3 w-75 block-content-datails-services">
                <div class="row w-100 align-items-center justify-content-center text-center block-main-datails-services">
                    <h1>Principais Serviços</h1>
                    <p style="font-style: normal;">como podemos te ajudar?</p>
                </div>
                <a id="pipedrive"></a>
                <button data-animation-scroll="cards-services-botton" type="button" class="btn btn-outline-primary" data-service="contato_integracao_crm" onclick="openModalServiceContatc(this);">
                    Integração com CRM
                </button>
                <button data-animation-scroll="cards-services-botton" type="button" class="btn btn-outline-primary" data-service="contato_integracao_erp" onclick="openModalServiceContatc(this);">
                    Integração com ERP
                </button>
                <button data-animation-scroll="cards-services-botton" type="button" class="btn btn-outline-primary" data-service="contato_desenvolvimento_api" onclick="openModalServiceContatc(this);">
                    Desevolvimento de APIs
                </button>
                <button data-animation-scroll="cards-services-botton" type="button" class="btn btn-outline-primary" data-service="contato_desenvolvimento_web" onclick="openModalServiceContatc(this);">
                    Desevolvimento de WEB
                </button>
            </div>
        </div>
    </div>
    <!-- ---- -->
    
    <div class="px-3" data-content_services="content-base" data-animation-scroll="cards-services-botton">
        <div class="container-fluid d-flex justify-content-center align-items-center gap-1 flex-wrap container-main-about border-custom-left-bottom ">
            <div class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-50 block-content-datails-services" data-animation-scroll="cards-services-left">
                <div class="row w-100 block-main-datails-services">
                    <h2>Pipedrive</h2>
                    <p>gerenciador de relacionamento com clientes</p>
                </div>
                <p><span><i class="fa-solid fa-check"></i></span> <b>melhore o relacionamento</b> com seus clientes</p>
                <p><span><i class="fa-solid fa-check"></i></span> <b>fluxos de trabalho automatizados</b> com as melhorias ferramentas</p>
                <p><span><i class="fa-solid fa-check"></i></span> integre com aplicativos: WhatsApp, E-mail e mais</p>
                <p><span><i class="fa-solid fa-check"></i></span> <b>armazenagemto otimizado</b> em banco de dados</p>
                <p><span><i class="fa-solid fa-check"></i></span> integração com outros sistemas CRMs</p>
                <p><span><i class="fa-solid fa-check"></i></span> integração com ERP</p>
            </div>

            <a id="asana"></a>
            <div class="d-flex flex-column mt-4 justify-content-center align-items-center p-3 w-25 block-content-datails-services">
                <button type="button" class="btn btn-outline-primary" data-service="contato_integracao_pipedrive" onclick="openModalServiceContatc(this);" data-animation-scroll="cards-services-right">
                    obter detalhes do serviço
                </button>
            </div>
        </div>
    </div>
    <!-- ---- -->
    <div class="px-3" data-animation-scroll="cards-services-botton">
        <div class="container-fluid d-flex justify-content-center align-items-center gap-1 flex-wrap container-main-about border-custom-right-bottom ">
            
            <div  class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-50 block-content-datails-services" data-animation-scroll="cards-services-right">
                <div class="row w-100 block-main-datails-services">
                    <h2>Asana</h2>
                    <p>gerenciador de projetos</p>
                </div>
                
                <p><span><i class="fa-solid fa-check"></i></span> gerenciamento de projetos, tarefas e acompanhamento de <b>performance</b></p>
                <p><span><i class="fa-solid fa-check"></i></span> <b>acompanhe</b> o progresso do projeto <b>em tempo real</b></p>
                <p><span><i class="fa-solid fa-check"></i></span> automatizamos as tarefas repetitivas e fluxos de trabalho</p>
                <p><span><i class="fa-solid fa-check"></i></span> integre com outras ferramentas de produtividade</p>
                
            </div>
            <a id="power-bi"></a>
            <div class="d-flex flex-column mt-4 justify-content-center align-items-center p-3 w-25 block-content-datails-services">
                <button type="button" class="btn btn-outline-primary" data-service="contato_integracao_asana" onclick="openModalServiceContatc(this);" data-animation-scroll="cards-services-left">
                    obter detalhes do serviço
                </button>
            </div>
        </div>
    </div>
    <!-- ---- -->
    <div class="px-3" data-animation-scroll="cards-services-botton">
        <div class="container-fluid d-flex justify-content-center align-items-center gap-1 flex-wrap container-main-about border-custom-left-bottom ">
            
            <div class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-50 block-content-datails-services" data-animation-scroll="cards-services-left">
                <div class="row w-100 block-main-datails-services">
                    <h2>Power BI</h2>
                    <p>ferramenta de business intelligence</p>
                </div>
                
                <p><span><i class="fa-solid fa-check"></i></span> <b>transforme</b> suas fontes de dados em <b>informações coerentes</b></p>
                <p><span><i class="fa-solid fa-check"></i></span> <b>decisões assertivas</b> através do Business Intelligence (BI)</p>
                <p><span><i class="fa-solid fa-check"></i></span> <b>Dashboards </b> e relatórios interativos</p>
                <p><span><i class="fa-solid fa-check"></i></span> controle de acessos aos projetos</p>
                <p><span><i class="fa-solid fa-check"></i></span> integre com banco de dados e outras ferramentas de apoio</p>
            </div>
            <a id="banco-de-dados"></a>
            <div class="d-flex flex-column mt-4 justify-content-center align-items-center p-3 w-25 block-content-datails-services">
                <button type="button" class="btn btn-outline-primary" data-service="contato_integracao_power_bi" onclick="openModalServiceContatc(this);" data-animation-scroll="cards-services-right">
                    obter detalhes do serviço
                </button>
            </div>
            
        </div>
    </div>
    <!-- ---- -->
    <div class="px-3" data-animation-scroll="cards-services-botton">
        <div class="container-fluid d-flex justify-content-center align-items-center gap-1 flex-wrap container-main-about border-custom-right-bottom ">
            
            <div class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-50 block-content-datails-services">
                <div class="row w-100 block-main-datails-services">
                    <h2>Banco de Dados</h2>
                    <p>armazenagemto de dados</p>
                </div>
                <p><span><i class="fa-solid fa-check"></i></span> <b>armazene</b> e <b>gerencie dados</b> de forma estruturada e escalável</p>
                <p><span><i class="fa-solid fa-check"></i></span> tenha <b> flexibilidade</b> e <b>controle</b> para integrar com outras ferramentas</p>
            </div>
            <div class="d-flex flex-column mt-4 justify-content-center align-items-center p-3 w-25 block-content-datails-services">
                <button type="button" class="btn btn-outline-primary" data-service="contato_integracao_database" onclick="openModalServiceContatc(this);" data-animation-scroll="cards-services-left">
                    obter detalhes do serviço
                </button>
            </div>
            
        </div>
    </div>
</main>


<script defer src="{% static 'modalContactServices.js' %}"></script>
{% endblock %}