{% extends 'base.html' %}
{% load static %}
{% block title %}Detalhes - Serviços{% endblock %}

{% block content %}
<main id="container-info-services">
    

    <!-- ---- -->
    <div class="px-3">
        <div class="container-fluid d-flex justify-content-center align-items-center gap-1 flex-wrap container-main-about border-custom-left-bottom ">
            <div class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-50 block-content-about">
                <div class="row w-100 block-main-about-services">
                    <h2>Pipedrive</h2>
                </div>
                <p><span>+</span> integramos você com as melhores tecnologias para acelerar o fluxo de trabalho da sua empresa</p>
                <p><span>+</span> ferramentas de visualização de dados</p>
                <p><span>+</span> outros aplicativos</p>
                <p><span>+</span> banco de dados</p>
                <p><span>+</span> ERP</p>
                <p><span>+</span> CRM</p>
            </div>

            <div class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-25 block-content-about">
                <h2>solicitar orçamento</h2>
            </div>
            
            <a id="sistemas-web"></a>
        </div>
    </div>
    <!-- ---- -->
    <div class="px-3">
        <div class="container-fluid d-flex justify-content-center align-items-center gap-1 flex-wrap container-main-about border-custom-right-bottom ">
            
            <div class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-48 block-content-about">
                <div class="row w-100 block-main-about-services">
                    <h2>Asana</h2>
                </div>
                <p><span>+</span> aplicações personalizadas do jeito que você precisa</p>
                <p><span>+</span> vamos desenvolver sua aplicação web juntos</p>
                <p><span>+</span> desenvolvimento web de forma ágil</p>
                <p><span>+</span> sem burocrácias; direto ao ponto</p>
            </div>
            <div class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-48 block-content-about">
                <div class="block-image-about">
                    <img src="{% static 'logo-asana.png' %}" alt="serviços">
                </div>
            </div>
            <a id="desevolvimento-apis"></a>
        </div>
    </div>
    <!-- ---- -->
    <div class="px-3">
        <div class="container-fluid d-flex justify-content-center align-items-center gap-1 flex-wrap container-main-about border-custom-left-bottom ">
            
            <div class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-48 block-content-about">
                <div class="row w-100 block-main-about-services">
                    <h2>Power BI</h2>
                </div>
                <p><span>+</span> vamos contruir juntos serviços escaláveis</p>
                <p><span>+</span> sem burocrácias</p>
                <p><span>+</span> direto ao ponto</p>
            </div>
            <div class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-48 block-content-about">
                <div class="block-image-about">
                    <img src="{% static 'logo-power-bi.png' %}" alt="serviços">
                </div>
            </div>
            <a id="manutencao-sistemas"></a>
        </div>
    </div>
    <!-- ---- -->
    <div class="px-3">
        <div class="container-fluid d-flex justify-content-center align-items-center gap-1 flex-wrap container-main-about border-custom-right-bottom ">
            
            <div class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-48 block-content-about">
                <div class="row w-100 block-main-about-services">
                    <h2>Banco de Dados</h2>
                </div>
                <p><span>+</span> entendimento das regras de negócios da sua empresa</p>
                <p><span>+</span> levantamento e definição de requisitos</p>
                <p><span>+</span> criação/manuntenção de banco de dados</p>
            </div>
            <div class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-48 block-content-about">
                <div class="block-image-about">
                    <img src="{% static 'logo-database.png' %}" alt="serviços">
                </div>
            </div>
            <a id="desevolvimento-apis"></a>
        </div>
    </div>
</main>






{% endblock %}