{% extends 'base.html' %}
{% load static %}
{% block title %}Detalhes - Serviços{% endblock %}

{% block content %}
<main id="container-info-services">
    
    <!-- ---- -->
    <div class="d-flex flex-column align-items-center justify-content-center text-center w-100 py-3"
        style="color: var(--color-base-2);">

        <!-- <h1>Serviços</h1>      -->

        <div class="row w-100 m-2 p-1 py-3 modal-services-contact" id="modal-services-contact">
            <div class="w-100 d-flex justify-content-end btn-close-modal">
                <i class="fa-solid fa-xmark" data-target="BTN_CLOSE_servicePipedriveModal"></i>
            </div>
            <form action="">
                {% csrf_token %}

                <div class="form-group">
                    <label class="row text-start px-3" for="name">serviço</label>
                    <select class="form-select my-3 px-3" id="options-modal-contact-1">
                        <option value="contato_integracao_crm" selected>Integrações de Sistemas - CRM</option>
                        <option value="contato_integracao_erp">Integrações de Sistemas - ERP</option>
                        <option value="contato_integracao_pipedrive">Integrações de Sistemas - Pipedrive</option>
                        <option value="contato_integracao_asana">Integrações de sistemas - Asana</option>
                        <option value="contato_integracao_power_bi">Integrações com Power BI</option>
                        <option value="contato_integracao_database">Integrações com Banco de Dados</option>
                        <option value="contato_desenvolvimento_api">Desenvolvimento de apis</option>
                        <option value="contato_desenvolvimento_web">Desenvolvimento web</option>
                        <option value="contato_manutencao_sistemas_web">Manutenção - Sistema WEB</option>
                        <option value="contato_manutencao_database">Manutenção - Banco de Dados</option>
                        <option value="contato_outros">Outros assuntos</option>
                    </select>

                </div>
                <!-- ---- -->
                <div class="form-group">
                    <label class="row text-start px-3" for="name">name</label>
                    {{form_servive_pipedrive.name}}
                    <!-- <small id="nameHelp" class="row text-start py-1 px-3">We'll never share your email with anyone else.</small> -->
                </div>
                <!-- ---- -->
                <div class="row w-100 py-3 block-modal-options">
                    <div class="w-27 px-3">
                        <input type="radio" name="checkbox-CPF" id="checkbox-CPF"  checked class="input-check-contact">
                        <label for="checkbox-CPF">CPF</label>
                    </div>
                    <div class="w-27 px-3">
                        <input type="radio" name="checkbox-CNPJ" id="checkbox-CNPJ" class="input-check-contact">
                        <label for="checkbox-CNPJ">CNPJ</label>
                    </div>
                </div>
                <!-- ---- -->
                <div class="form-group" id="block-inputs-CPF">
                    {{form_servive_pipedrive.cpf}}
                    <!-- <small id="nameHelp" class="row text-start py-1 px-3">We'll never share your email with anyone else.</small> -->
                </div>
                <!-- ---- -->
                <div class="form-group" id="block-inputs-CNPJ" style="display: none;">
                    {{form_servive_pipedrive.cnpj}}
                    <!-- <small id="nameHelp" class="row text-start py-1 px-3">We'll never share your email with anyone else.</small> -->
                </div>
                <!-- ---- -->
                <div class="row w-100 py-3 block-modal-options">
                    <div class="w-27 px-3">
                        <input type="radio" name="checkbox-whatsapp" id="checkbox-whatsapp" checked class="input-check-contact">
                        <label for="checkbox-whatsapp">WhatsApp</label>
                    </div>
                    <div class="w-27 px-3">
                        <input type="radio" name="checkbox-email" id="checkbox-email" class="input-check-contact">
                        <label for="checkbox-email">E-mail</label>
                    </div>
                </div>
                <!-- ---- -->
                <div class="form-group" id="block-inputs-WHATSAPP">
                    {{form_servive_pipedrive.whatsapp}}
                    <!-- <small id="nameHelp" class="row text-start py-1 px-3">We'll never share your email with anyone else.</small> -->
                </div>
                <!-- ---- -->
                <div class="form-group" id="block-inputs-EMAIL" style="display: none;">
                    {{form_servive_pipedrive.email}}
                    <!-- <small id="nameHelp" class="row text-start py-1 px-3">We'll never share your email with anyone else.</small> -->
                </div>
                
                
                <button class="w-100 btn btn-outline-primary my-2">enviar</button>
            </form>
        </div>

    </div>
    <div class="px-3" data-content_services="content-base">
        <div class="container-fluid d-flex justify-content-center align-items-center gap-1 flex-wrap container-main-about border-custom-right-bottom ">
            <div class="d-flex flex-wrap gap-2 mt-4 justify-content-center align-items-center p-3 w-75 block-content-datails-services">
                <div class="row w-100 align-items-center justify-content-center text-center block-main-datails-services">
                    <h1>Principais Serviços</h1>
                    <p style="font-style: normal;">como podemos te ajudar?</p>
                </div>
                <a id="pipedrive"></a>
                <button type="button" class="btn btn-outline-primary" data-service="contato_integracao_crm" onclick="openModalServiceContatc(this);">
                    Integração com CRM
                </button>
                <button type="button" class="btn btn-outline-primary" data-service="contato_integracao_erp" onclick="openModalServiceContatc(this);">
                    Integração com ERP
                </button>
                <button type="button" class="btn btn-outline-primary" data-service="contato_desenvolvimento_api" onclick="openModalServiceContatc(this);">
                    Desevolvimento de APIs
                </button>
                <button type="button" class="btn btn-outline-primary" data-service="contato_desenvolvimento_web" onclick="openModalServiceContatc(this);">
                    Desevolvimento de WEB
                </button>



            </div>
        </div>
    </div>
    <!-- ---- -->
    
    <div class="px-3" data-content_services="content-base">
        <div class="container-fluid d-flex justify-content-center align-items-center gap-1 flex-wrap container-main-about border-custom-left-bottom ">
            <div class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-50 block-content-datails-services">
                <div class="row w-100 block-main-datails-services">
                    <h2>Pipedrive</h2>
                    <p>gerenciador de relacionamento com clientes</p>
                </div>
                <p><span><i class="fa-solid fa-check"></i></span> <b>melhore o relacionamento</b> com seus clientes</p>
                <p><span><i class="fa-solid fa-check"></i></span> <b>fluxos de trabalho automatizados</b> com as melhorias ferramentas</p>
                <p><span><i class="fa-solid fa-check"></i></span> integre com aplicativos: WhatsApp, E-mail e mais</p>
                <p><span><i class="fa-solid fa-check"></i></span> <b>armazenagemto otimizado</b> em banco de dados</p>
                <p><span><i class="fa-solid fa-check"></i></span> integração com outros sistemas CRMs</p>
                <p><span><i class="fa-solid fa-check"></i></span> integração com ERP</p>
            </div>

            <a id="asana"></a>
            <div class="d-flex flex-column mt-4 justify-content-center align-items-center p-3 w-25 block-content-datails-services">
                <button type="button" class="btn btn-outline-primary" data-service="contato_integracao_pipedrive" onclick="openModalServiceContatc(this);">
                    obter detalhes do serviço
                </button>
            </div>
        </div>
    </div>
    <!-- ---- -->
    <div class="px-3">
        <div class="container-fluid d-flex justify-content-center align-items-center gap-1 flex-wrap container-main-about border-custom-right-bottom ">
            
            <div class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-50 block-content-datails-services">
                <div class="row w-100 block-main-datails-services">
                    <h2>Asana</h2>
                    <p>gerenciador de projetos</p>
                </div>
                
                <p><span><i class="fa-solid fa-check"></i></span> gerenciamento de projetos, tarefas e acompanhamento de <b>performance</b></p>
                <p><span><i class="fa-solid fa-check"></i></span> <b>acompanhe</b> o progresso do projeto <b>em tempo real</b></p>
                <p><span><i class="fa-solid fa-check"></i></span> automatizamos as tarefas repetitivas e fluxos de trabalho</p>
                <p><span><i class="fa-solid fa-check"></i></span> integre com outras ferramentas de produtividade</p>
                
            </div>
            <a id="power-bi"></a>
            <div class="d-flex flex-column mt-4 justify-content-center align-items-center p-3 w-25 block-content-datails-services">
                <button type="button" class="btn btn-outline-primary" data-service="contato_integracao_asana" onclick="openModalServiceContatc(this);">
                    obter detalhes do serviço
                </button>
            </div>
        </div>
    </div>
    <!-- ---- -->
    <div class="px-3">
        <div class="container-fluid d-flex justify-content-center align-items-center gap-1 flex-wrap container-main-about border-custom-left-bottom ">
            
            <div class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-50 block-content-datails-services">
                <div class="row w-100 block-main-datails-services">
                    <h2>Power BI</h2>
                    <p>ferramenta de business intelligence</p>
                </div>
                
                <p><span><i class="fa-solid fa-check"></i></span> <b>transforme</b> suas fontes de dados em <b>informações coerentes</b></p>
                <p><span><i class="fa-solid fa-check"></i></span> <b>decisões assertivas</b> através do Business Intelligence (BI)</p>
                <p><span><i class="fa-solid fa-check"></i></span> <b>Dashboards </b> e relatórios interativos</p>
                <p><span><i class="fa-solid fa-check"></i></span> controle de acessos aos projetos</p>
                <p><span><i class="fa-solid fa-check"></i></span> integre com banco de dados e outras ferramentas de apoio</p>
            </div>
            <a id="banco-de-dados"></a>
            <div class="d-flex flex-column mt-4 justify-content-center align-items-center p-3 w-25 block-content-datails-services">
                <button type="button" class="btn btn-outline-primary" data-service="contato_integracao_power_bi" onclick="openModalServiceContatc(this);">
                    obter detalhes do serviço
                </button>
            </div>
            
        </div>
    </div>
    <!-- ---- -->
    <div class="px-3">
        <div class="container-fluid d-flex justify-content-center align-items-center gap-1 flex-wrap container-main-about border-custom-right-bottom ">
            
            <div class="d-flex flex-column mt-4 justify-content-center align-items-start p-3 w-50 block-content-datails-services">
                <div class="row w-100 block-main-datails-services">
                    <h2>Banco de Dados</h2>
                    <p>armazenagemto de dados</p>
                </div>
                <p><span><i class="fa-solid fa-check"></i></span> <b>armazene</b> e <b>gerencie dados</b> de forma estruturada e escalável</p>
                <p><span><i class="fa-solid fa-check"></i></span> tenha <b> flexibilidade</b> e <b>controle</b> para integrar com outras ferramentas</p>
            </div>
            <div class="d-flex flex-column mt-4 justify-content-center align-items-center p-3 w-25 block-content-datails-services">
                <button type="button" class="btn btn-outline-primary" data-service="contato_integracao_database" onclick="openModalServiceContatc(this);">
                    obter detalhes do serviço
                </button>
            </div>
            
        </div>
    </div>
</main>


<script>

    function openModalServiceContatc(element){
        
        let eixo_y = window.pageYOffset;
        let aux_eixo_y = 0;
        let tam_body_x = window.screen.width;
        let tam_body_y = window.screen.height;
        
        let data_service = element.dataset.service;
        let modal_form_select = document.getElementById("options-modal-contact-1");
        for (let i =0 ; i < modal_form_select.length; i++){
            if(data_service == modal_form_select.options[i].value){
                modal_form_select.options[i].selected = true;
            } else {
                modal_form_select.options[i].selected = false;
            }

        }

        if (tam_body_x <= 500){
            aux_eixo_y = 290;
        }
        else if (tam_body_x >= 500 && tam_body_x < 740){
            aux_eixo_y = 300;
        }
        else if (tam_body_x >= 740){
            aux_eixo_y = 80;
        }
        document.querySelector(".modal-services-contact").classList.toggle("active");
        document.querySelector(".modal-services-contact.active").style.top = `${eixo_y + aux_eixo_y}px`;
        document.querySelector("body").classList.toggle("acitve-modal");
    }


    const BTN_CLOSE_servicePipedriveModal = document.querySelector('[data-target="BTN_CLOSE_servicePipedriveModal"]');
    BTN_CLOSE_servicePipedriveModal.addEventListener("click", function(){
        document.querySelector(".modal-services-contact").classList.toggle("active");
        document.querySelector("body").classList.toggle("acitve-modal");
    });
</script>
<script>
    const checkbox_CPF = document.getElementById("checkbox-CPF");
    const checkbox_CNPJ = document.getElementById("checkbox-CNPJ");
    const block_inputs_CPF = document.getElementById("block-inputs-CPF");
    const block_inputs_CNPJ = document.getElementById("block-inputs-CNPJ");
    
    checkbox_CPF.addEventListener("click", function(e) {
        // e.preventDefault();
        if(checkbox_CPF.checked){
            block_inputs_CPF.style.display = "block";
            block_inputs_CNPJ.style.display = "none";
            checkbox_CNPJ.checked = false;
        } 
    });
    checkbox_CNPJ.addEventListener("click", function(e) {
        // e.preventDefault();
        if(checkbox_CPF.checked){
            block_inputs_CNPJ.style.display = "block";
            block_inputs_CPF.style.display = "none";
            checkbox_CPF.checked = false;
        } 
    });
</script>

<script>
    const checkbox_WHATSAPP = document.getElementById("checkbox-whatsapp");
    const checkbox_EMAIL = document.getElementById("checkbox-email");
    const block_inputs_WHATSAPP = document.getElementById("block-inputs-WHATSAPP");
    const block_inputs_EMAIL = document.getElementById("block-inputs-EMAIL");
    
    checkbox_WHATSAPP.addEventListener("click", function(e) {
        // e.preventDefault();
        if(checkbox_WHATSAPP.checked){
            block_inputs_WHATSAPP.style.display = "block";
            block_inputs_EMAIL.style.display = "none";
            checkbox_EMAIL.checked = false;
        } 
    });
    checkbox_EMAIL.addEventListener("click", function(e) {
        // e.preventDefault();
        if(checkbox_EMAIL.checked){
            block_inputs_EMAIL.style.display = "block";
            block_inputs_WHATSAPP.style.display = "none";
            checkbox_WHATSAPP.checked = false;
        } 
    });
</script>


{% endblock %}