{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<main>
  <div class="container banner-principal">
    <img src="{% static 'banner desenvolvimento web 1.png' %}"  alt="desenvolvimento web" class="w-100">
  </div>
  <div class="container-fluid banner-principal-2 d-flex gap-5 flex-wrap">
    <div class="block-banner block-1"></div>
    <div class="block-banner block-2">
      <h3 style="font-weight: 600 !important;">otimize sua rotina com nossos serviços</h3>
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="block-banner block-3"></div>
  </div>


  
  
  <div class="container-cards container-fluid d-flex justify-content-center align-center flex-wrap text-start gap-5 mt-5 mb-5">
      <div class="row w-100 text-center p-2">
        <h3>Principais Integrações</h3>
      </div>
      <div class="card-service">
        <div class="content-card-service">
          <div class="card-image-service">
              <img src="{% static 'logo-pipedrive.png' %}" alt="integração pipedrive">
          </div>
          <p class="col p-1">Pipedrive<br><span>gerenciador de fúnil de vendas</span></p>
          
          <h3>serviços para análise de dados e relatórios.</h3>
          <div class="d-flex justify-content-around align-items-center block-card-links">
            <div class="row w-50 text-start content-card-block-links">
              <a href="{% url 'details_services' %}#pipedrive" class="p-2 link-content-card">ver mais</a>
            </div>
            <div class="row w-25 text-center content-card-block-links">
              <a href="{% url 'details_services' %}#pipedrive" class="p-2">
                <i class="fa-solid fa-right-long"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card-service">
        <div class="content-card-service">
          <div class="card-image-service">
              <img src="{% static 'logo-power-bi.png' %}" alt="integração power vi">
          </div>
          <p class="col p-1">Power BI<br><span>ferramenta para relatórios</span></p>
          <h3>serviços para análise de dados e relatórios.</h3>
          <div class="d-flex justify-content-around align-items-center block-card-links">
            <div class="row w-50 text-start content-card-block-links">
              <a href="{% url 'details_services' %}#power-bi" class="p-2 link-content-card">ver mais</a>
            </div>
            <div class="row w-25 text-center content-card-block-links">
              <a href="{% url 'details_services' %}#power-bi" class="p-2">
                <i class="fa-solid fa-right-long"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card-service">
        <div class="content-card-service">
          <div class="card-image-service">
              <img src="{% static 'logo-database.png' %}" alt="integração database">
          </div>
          <p class="col p-1">Banco de Dados<br><span>armazenagem de dados</span></p>
          <h3>armazenagem e gerenciamento de dados</h3>
          <div class="d-flex justify-content-around align-items-center block-card-links">
            <div class="row w-50 text-start content-card-block-links">
              <a href="{% url 'details_services' %}#banco-de-dados" class="p-2 link-content-card">ver mais</a>
            </div>
            <div class="row w-25 text-center content-card-block-links">
              <a href="{% url 'details_services' %}#banco-de-dados" class="p-2">
                <i class="fa-solid fa-right-long"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card-service">
        <div class="content-card-service">
          <div class="card-image-service">
            <img src="{% static 'logo-asana.png' %}" alt="integração asana">
          </div>
          <p class="col p-1">Asana<br><span>gerenciador de tarefas</span></p>
          <h3>serviços para análise de dados e relatórios</h3>
          <div class="d-flex justify-content-around align-items-center block-card-links">
            <div class="row w-50 text-start content-card-block-links">
              <a href="{% url 'details_services' %}#asana" class="p-2 link-content-card">ver mais</a>
            </div>
            <div class="row w-25 text-center content-card-block-links">
              <a href="{% url 'details_services' %}#asana" class="p-2">
                <i class="fa-solid fa-right-long"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

  </div>

</main>
{% endblock %}