{% extends 'base.html' %}
{% load static %}
{% block title %}Detalhes - Person{% endblock %}

{% block content %}

<div class="container container-form-custom-info-person" style="margin: 100px auto; min-height: 60vh;">
    <div class="container w-50 container-form-custom">
        <div class="row w-100 d-flex align-items-center">
            <h3 class="col-6 col-sm-3 w-75">Pipedrive - Detalhes Person</h3>
            <a href="{% url 'person' %}" class="col-6 col-sm-3 w-25 text-end link">voltar</a>
        </div>
        {% if not_found_data %}
        <p>Nenhum registro encontrado.</p>
        {% else %}
            <a href="{% url 'detele_person' data.id.value  %}" class="col-6 col-sm-3 w-25 text-end link">deletar</a>
            <p style="font-size: 14px;">Person ID: {{data.id.value}}</p>
            <form action="" method="POST" class="container w-100">
                {% csrf_token %}
                <div class="row d-flex justify-content-center px-2 mb-2">
                    <label class="form-label" for="name" class="col-sm-2 col-form-label">nome</label>
                    <input type="text" class="form-control" value="{{data.name.value}}" name="name" id="name">
                </div>
                <div class="row d-flex justify-content-center px-2 mb-2">
                    <label class="form-label" for="cpf" class="col-sm-2 col-form-label">cpf</label>
                    <input type="text" class="form-control" value="{{data.cpf.value}}" name="cpf" id="cpf">
                </div>
                <div class="row d-flex justify-content-center px-2 mb-2">
                    <label class="form-label" for="cnpj" class="col-sm-2 col-form-label">cnpj</label>
                    <input type="text" class="form-control" value="{{data.cnpj.value}}" name="cnpj" id="cnpj">
                </div>
                <div class="row d-flex justify-content-center">
                    <label class="form-label" for="phone" class="col col-form-label">telefone</label>
                    {% for data in data.phone.value %}
                    <div class="container text-start mb-2">
                        
                        <div class="row align-items-start d-flex">
                            <div class="col-6 col-sm-3 w-75"> 
                                <input type="text" class="form-control" value="{{data.value}}" name="phone" id="phone-{{forloop.counter0}}">
                            </div>
                            <div class="col-6 col-sm-3 w-25">
                                <select class="form-control"  name="select_type_phone" id="select_type_phone">
                                    <option value="work" {% if data.label == 'work' %} selected{% endif %}>work</option>
                                    <option value="home" {% if data.label == 'home' %} selected{% endif %}>home</option>
                                    <option value="mobile" {% if data.label == 'mobile' %} selected{% endif %}>mobile</option>
                                    <option value="other" {% if data.label == 'other' %} selected{% endif %}>outros</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        
                <div class="row d-flex justify-content-center">
                    <label class="form-label" for="phone" class="col col-form-label">email</label>
                    {% for data in data.email.value %}
                    <div class="container text-start mb-2">
                        
                        <div class="row align-items-start d-flex">
                            <div class="col-6 col-sm-3 w-75"> 
                                <input type="text" class="form-control" value="{{data.value}}" name="email" id="email-{{forloop.counter0}}">
                            </div>
                            <div class="col-6 col-sm-3 w-25">
                                <select class="form-control"  name="select_type_email" id="select_type_email">
                                    <option value="work" {% if data.label == 'work' %} selected{% endif %}>work</option>
                                    <option value="home" {% if data.label == 'home' %} selected{% endif %}>home</option>
                                    <option value="other" {% if data.label == 'other' %} selected{% endif %}>outros</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="row  w-100 d-flex align-items-center">
                    <button type="submit" class="btn btn-primary m-3">Atualizar</button>
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}