{% extends 'base.html' %}
{% load static %}
{% block title %}Person{% endblock %}

{% block content %}

<div class="container-fluid" style="margin: 70px auto;">   
    <h3>Pipedrive - Person</h3> 
    <div class="table-responsive" id="table-data-person">
        <table class="table table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">actions</th>
                    <th scope="col">
                        <article class="d-flex justify-content-between -align-items-center">
                            <span>id</span>
                        </article>
                    </th>
                    <th scope="col">
                        <article class="d-flex justify-content-between -align-items-center">
                            <span>person_id</span>
                        </article>
                    </th>
                    <th scope="col">
                        <article class="d-flex justify-content-between -align-items-center">
                            <span>person_name</span>
                        </article>
                    </th>
                    <th scope="col">
                        <article class="d-flex justify-content-between -align-items-center">
                            <span>person_owner_name</span>
                        </article>
                    </th>
                    <th scope="col">
                        <article class="d-flex justify-content-between -align-items-center">
                            <span>person_open_deals_count</span>
                        </article>
                    </th>
                    <th scope="col">
                        <article class="d-flex justify-content-between -align-items-center">
                            <span>person_email</span>
                        </article>
                    </th>
                    <th scope="col">
                        <article class="d-flex justify-content-between -align-items-center">
                            <span>person_phone</span>
                        </article>
                    </th>
                    <th scope="col">
                        <article class="d-flex justify-content-between -align-items-center">
                            <span>person_add_time</span>
                        </article>
                    </th>
                    <th scope="col">
                        <article class="d-flex justify-content-between -align-items-center">
                            <span>person_update_time</span>
                        </article>
                    </th>
                    <th scope="col">
                        <article class="d-flex justify-content-between -align-items-center">
                            <span>cpf</span>
                        </article>
                    </th>
                    <th scope="col">
                        <article class="d-flex justify-content-between -align-items-center">
                            <span>cnpj</span>
                        </article>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for data in person %}
                    <tr>
                        <td>
                            <a href="{% url 'info_person' data.current_person_id %}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>
                        <td scope="row">{{data.id}}</td>
                        <td>{{data.current_person_id}}</td>
                        <td>{{data.current_person_name}}</td>
                        <td>{{data.current_person_owner_name}}</td>
                        <td>{{data.current_person_open_deals_count}}</td>
                        <td>{{data.current_person_email}}</td>
                        <td>{{data.current_person_phone}}</td>
                        <td>{{data.current_person_add_time}}</td>
                        <td>{{data.current_person_update_time}}</td>
                        <td>{{data.current_person_cpf}}</td>
                        <td>{{data.current_person_cnpj}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}