#container-info-services {
    margin-top: 20px !important;
}
.container-main-about {
    min-height: 40vh;
    max-height: 100%;
    animation: animation_main_about 2s ease;
}
@keyframes animation_main_about {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
.block-content-about,
.block-content-datails-services {
    min-width: 300px !important;
    max-width: 100% !important;
    height: 100%;
}
.block-content-about h1,
.block-content-datails-services h1,
.block-content-datails-services h2 {
    color: var(--color-base-2);
}
.block-content-datails-services h2 {
    font-weight: 600;
}
.block-content-about p {
    font-size: 1.120rem;
    font-weight: 400;
    line-height: 120%;
    color: #000;
    border: 0px;
    border-bottom: solid;
    border-bottom-width: 2px !important;
    border-image: linear-gradient(to right, #ff01f5, #fef104, #fff) 1;
}

.block-image-about {
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
.block-image-about img {
    width: 80%;
    margin: 0 auto;
    border-radius: 2px;
    object-fit: cover;
}
.block-content-about:nth-child(1) {
    min-width: 360px !important;
    max-width: 100% !important;
    min-height: 450px;
}
.block-content-about:nth-child(2) {
    min-width: 360px !important;
    max-width: 100% !important;
}

/* block-main-about-services */

.block-main-about-services,
.block-main-datails-services {
    padding: 20px 0px;
    border-bottom: 2px solid transparent !important;
}
.block-main-about-services h2 {
    border: 0px;
    border-bottom: solid;
    border-bottom-width: 5px !important;
    border-image: linear-gradient(to right, #ff01f5, #fef104, #fff) 1;
}
.block-main-datails-services p {
    font-weight: 400;
    font-style: italic;
}


.container-main-about-services h2 {
    color: var(--color-base-2);
}

.block-content-about span {
    font-weight: 600;
    color: var(--color-base-2);
}
.block-content-datails-services span {
    color: #00b090;
    font-weight: 800;
}
.block-content-datails-services p b {
    color: transparent;
    background-image: linear-gradient(to left, #e403ff, #004eff);
    -webkit-background-clip: text;
}
/* BORDAS PERSONALIZADAS */
.border-custom-right-bottom {
    border: 3px;
    border-bottom: 2px;
    border-radius: 0px 10px 10px 0px;
    border-style: solid;
    border-color: var(--color-base-2);
    border-left-color: transparent;
    margin-right: -2.4px;
    margin-top: -2.7px;
    flex-direction: row-reverse;
}
.border-custom-left-bottom {
    border: 3px ;
    border-top: 2px;
    border-radius: 10px 0px 0px 10px;
    border-style: solid;
    border-color: var(--color-base-2);
    border-right-color: transparent;
    margin-left: -2.4px;
    margin-top: -2.4px;
}

@media screen and (max-width: 742px){
    
    .container-main-about {
        width: 100%;
        padding: 0px 23px !important;
        flex-direction: row;
    }

    .block-content-about {
        margin: 10px 0px !important;
        padding: 3px !important;
    }
    .block-main-about-services,
    .block-main-datails-services {
        padding: 3px 0px;
    }
    .block-image-about img {
        width: 100%;
    }
    
    .block-content-about:nth-child(1) {
        min-height: auto !important;
        padding: 23px !important;
    }
    .block-content-about {
        /* width: 100%; */
        width: 600px !important;
        max-width: 95% !important;
    }
}
@media screen and (max-width: 568px){
    .container-main-about {
        width: 100%;
    }
    .block-content-about,
    .block-content-about:nth-child(2) {
        width: 600px !important;
        min-width:  100% !important;
        max-width: 100%;
    }
}


.block-contact-datails-services {
    
}




/* ---------------------------- */

.content-block-sobre-icons {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.content-block-sobre-icons {
    gap: 10px;
    max-width: 390px;
    min-height: 185px;
    flex-direction: column;
}
.content-block-sobre-icons i {    
    font-size: 18px;
    color: #ffffff;
}
.content-block-sobre-icons i {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}