@media screen and (max-width: 1024px) {
    .container-navbar ul li span {
        width: 80%;
    }
    .container-form-custom {
        width: 80% !important;
    }
}
@media screen and (max-width: 992px) {
    .container-navbar ul li span {
        width: 95%;
    }
}
@media screen and (max-width: 769px) {
    .container-form-custom {
        width: 90% !important;
    }
}
@media screen and (max-width: 768px) {
    header {
        display: none;
    }
    #navbar-mobile {
        display: flex;
    }
    .card-service {
        padding: 9px !important;
        width: 45% !important;
        max-width: 247px !important;
    }
    .card-service img {
        object-fit: contain !important;
    }
    .content-card-service p {
        padding: 0px !important;
    }
    .content-card-block-links a {
        font-size: 14px;
    }
    
}
@media screen and (max-width: 742px) {
    .container-navbar ul li span {
        min-height: 460px;
        max-height: 100%;
        overflow-y: scroll;
    }
    .block-opcoes-menu {
        flex-direction: column;
    }
    .container-cards {
        gap: 12px !important;
        justify-content: center !important;
    }
    .block-1,
    .block-3 {
        width: 150px;
        height: 150px;
    }
    .block-1 {
        left: 18px;
    }
    .block-3 {
        right: 18px;
    }
    .modal-services-contact {
        max-width: 87% !important;
        transform: translate(-51%, -45%) !important;

    }
}
@media screen and (min-width: 568px) {
    .cards-wrapper {
        display: flex;
    }
    .card {
        margin: 0 .5em;
        width: calc(100%/3) !important;
    }
    .card-service {
        padding: 5px;
    }
    .image-wrapper {
        /* height: 100%; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

@media screen and (max-width: 567px) {
    .w-26 {
        width: 46% !important;
    }
    .modal-services-contact {
        max-height: 60vh !important;
    }
    main {
        margin-top: 52px !important;
    }
    .card:not(:first-child){
        display: none;
    }
    
    .container-form-custom {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .container-form-custom-info-person {
        margin: 0 !important;
        margin-top: 76px !important;
    }
    .block-1,
    .block-3 {
        width: 100px;
        height: 100px;
    }
    .block-1 {
        left: 18px !important;
        margin-top: 134px !important;
    }
    .block-3 {
        right: 18px !important;
        margin-top: -134px !important;
    }
}